page-welcome {
.background{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)) ,url(../../assets/imgs/outside2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img{
float: left;
width: 100px;
height: auto;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 10px;
}
.title h1{
    color: #fff;
    font-size: 35px;
    font-family: gill sans;


}
#bitso{
    text-align: center;
    top: 80%;
}
.button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%); 
    font-family: gill sans;
    
}
.btn{
    border: 1px solid #fff;
    padding: 05px 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    font-size: 15px;

}

.btn1{
    border: 1px solid #fff;
    padding: 05px 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    font-size: 15px;

}
.btn:hover{
    background-color: rgb(245, 147, 163) !important;
    color: #000;
}

.logout{
    display: flex;
    justify-content: flex-end
}

}
