page-hotelmain {

    .inputt{
        color: black;
        font-weight: bolder;
    }
    .ion-input{
        color: black;
    }
    .img{
        background-color: rgb(2, 122, 235);
        color: white;
        padding:10px;
        display: flex;
        
    }

   
}
